{% extends 'core/base.html' %}

{% block content %}
{% load static %}

<div class="card shadow">
    <div class="card-body">

        <h5 class="p-2" style="border-bottom: 2px solid orange;">Reclamaciones de usuarios</h5>
        <div class="container-fluid">

            <table class="table table-bordered" style="width:90%">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Usuario</th>
                    <th>Estado</th>
                    <th>Ver comentario</th>
                    <th>Acción</th>
                </tr>
                </thead>
                <tbody>
                {% for i in feedback %}
                <tr class='border-black'id="row-{{forloop.counter}}">
                    <td style="text-align: center">{{i.id}}</td>
                    <td style="text-align: center">{{i.customer}}</td>
                    <td style="text-align: center">{{i.get_status_display}}</td>
                    <td style="text-align: center">{{i.message}}</td>
                    {% if i.get_status_display == "No leído" %}
                        <td style="text-align: center">
                            <a href="/read-feedback/{{i.id}}/" class="px-3 py-0.4 text-lg font-semibold bg-orange-500 text-white rounded-xl hover:bg-teal-700">Marcar como leído</a>
                        </td>
                    {% else %}
                        <td style="text-align: center">
                            Ya se ha leído esta reclamación
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}