{% extends 'core/base.html' %}

{% block content %}

<!DOCTYPE html>
{% load static %}
    <html lang="es">
    <head>
        <title>Mi Pedido</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
    <hr class="mt-0">
    <div class="card shadow m-5" id="myorder">
        <div class="card-body">
            <div class="container-fluid">
                <table class="table table-bordered" style="width:100%">
                    <thead>
                    <tr style="border-bottom: 1px solid #000;">
                        <th>Id</th>
                        <th>Fecha</th>
                        <th>Pedido</th>
                        <th>Comentario</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in feedback %}
                    <tr style="border-bottom: 1px solid #000;">
                        <td style="text-align: center">{{i.id}}</td>
                        <td style="text-align: center">{{i.created}}</td>
                        <td style="text-align: center">{{i.order.id}}</td>
                        <td style="text-align: center">{{i.message}}</td>
                        <td style="text-align: center">{{i.status_display}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </body>
    </html>

{% endblock %}