{% extends 'core/base.html' %}

{% block title %}Otros{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Otros</h2>
        
        <div class="grid grid-cols-5 gap-6">
            {% for artwork in artworks %}
                <div>
                    <a href="{% url 'proyect:detail' artwork.id %}">
                        <div>
                            <img src="{{ artwork.image.url }}" class="rounded-t-xl">
                        </div>

                        <div class="p-6 bg-white rounded-b-xl shadow-md">
                            <h2 class="text-2xl">{{ artwork.name }}</h2>
                            <p class="text-gray-500">Precio: {{ artwork.price }} €</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
