{% extends "core/base.html" %}

{% block title %} 
  {{ artwork.name }} 
{% endblock %}

{% load static %}

{% block content %}

<div class="grid grid-cols-5 gap-3">
  <div class="col-span-3 flex items-center justify-center">
    <img src="{{ artwork.image.url }}" class="rounded-xl h-128 w-128">
  </div>

  <div class="col-span-2">
    <div class="bg-gray-100 rounded-xl p-4">
      <div class="mb-2">
        <h1 class="text-2xl font-bold">{{ artwork.name }}</h1>
        <p class="text-gray-500 mt-1"><strong>Precio:</strong> {{ artwork.price }}€</p>
        <p class="text-gray-500 mt-1"><strong>Autor:</strong> {{ artwork.author }}</p>
      </div>

      <div class="mt-4">
        {% if artwork.description %}
          <p class="text-gray-700 mt-2">
            <strong class="text-gray-500">Descripción:</strong> {{ artwork.description }}
          </p>
        {% endif %}

        {% if artwork.quantity > 0 %}
          <form action="{% url 'product:add_from_product_detail' artwork.id %}" method="POST">
            {% csrf_token %}
            <div class="mt-4">
              <input type="number" name="quantity" min="1" max="{{ artwork.quantity }}" value="1" class="rounded-l-lg bg-gray-100 p-2">
              <button type="submit" class="py-2 px-4 text-lg bg-teal-500 hover:bg-teal-700 rounded-r-lg text-white">Añadir al carrito</button>
            </div>
          </form>
        {% else %}
          <p class="text-red-500 mt-2">Lo sentimos mucho, este producto está temporalmente agotado.</p>
        {% endif %}

      </div>
    </div>
  </div>
</div>

<div class="mt-2 px-2 py-4 bg-gray-100 rounded-xl">
  <div class="container mx-auto max-w-md">
    <h2 class="mb-4 text-2xl text-center">Obras relacionadas</h2>

    <div class="grid grid-cols-3 gap-2">
      {% for obra in related_obras %}
        <div class="flex flex-col items-center">
          <a href="{% url 'product:detail' obra.id %}">
            <div class="w-36 h-36">
              <img src="{{ obra.image.url }}" class="rounded-t-xl h-36 w-36">
            </div>

            <div class="p-2 bg-white rounded-b-xl w-full text-center">
              <h2 class="text-xl">{{ obra.name }}</h2>
              <p class="text-gray-500">Precio: {{ obra.price }}€</p>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

