{% extends 'core/base.html' %}

{% block title %}Sobre nosotros{% endblock %}

{% block content %}
<p>
    ¡Bienvenido a nuestra página de contacto! En <a href="http://127.0.0.1:8000">artus</a>, nos apasiona el arte y nos dedicamos a ofrecer una amplia variedad de cuadros para todos los gustos y estilos.
    Nuestra empresa se enorgullece de brindar a nuestros clientes una experiencia de compra excepcional, mediante filtros y búsquedas de cuadros integrada en la página,
    un carrito de la compra que permite realizar pagos de forma eficiente, rápida y segura, con posibilidad de tener un seguimiento preciso del pedido en cualquier momento
    que lo desees.
    <br> 
    Asimismo, disponemos de una gran variedad de cuadros con distintos precios y de distintos autores, tanto de renombre como no tan conocidos, de diversos estilos artísticos, como surrealismo, abstracto, figurativo, retratos, etc.
    <br> 
    No dudes en contactarnos si necesitas información adicional sobre algún cuadro específico, asesoramiento sobre cómo elegir la mejor pieza para tu hogar u oficina, o cualquier otra solicitud relacionada con nuestros productos.
    Nuestros expertos estarán encantados de ayudarte.
    <br><br>
    Gracias por elegir <a href="http://127.0.0.1:8000">artus</a>. 
    Esperamos tener la oportunidad de brindarte un excelente servicio y ayudarte a embellecer tus espacios con nuestras hermosas obras de arte.
</p>
{% endblock %}