{% extends 'core/base.html' %}

{% block title %}Página de Contacto{% endblock %}

{% block content %}
        <p>
                Puedes comunicarte con nosotros a través de los siguientes canales:
                <br><br>
                Número de teléfono: +34 699 78 12 33
                <br><br> 
                Correo electrónico: <a href="https://www.google.com/intl/es/gmail/about/">artus@info.com</a>
                <br><br> 
                Dirección de la empresa: Av. de la Reina Mercedes, s/n, 41012 Sevilla
                <br><br> 
                Provincia: Sevilla                
                <br><br> 
                Coordenadas: 37°21′30″N 5°59′14″O / 37.358333333333, -5.9871111111111
                <br><br> 
                Horario: 
                <br> 
                        sábado	Cerrado
                        <br> 
                        domingo	Cerrado
                        <br> 
                        lunes	8:00–21:45
                        <br> 
                        martes	8:00–21:45
                        <br> 
                        miércoles	8:00–21:45
                        <br> 
                        jueves	8:00–21:45
                        <br> 
                        viernes	8:00–21:45
                        <br> 
        </p>

{% endblock %}
