{% extends 'core/base.html' %}

{% block title %}Editar contraseña{% endblock %}

{% block content %}
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl">Editar contraseña</h1>
    <form method="post" action=".">
        {% csrf_token %}
        <div class="mb-3">
            <label class="inline-block mb-2">Contraseña antigua</label><br>
            {{ form.old_password }}
        </div>
        <div class="mb-3">
            <label class="inline-block mb-2">Nueva contraseña</label><br>
            {{ form.new_password1 }}
        </div>
        <div class="mb-3">
            <label class="inline-block mb-2">Confirmar nueva contraseña</label><br>
            {{ form.new_password2 }}
        </div>

        {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <button class="py-2 px-2 text-sm bg-teal-500 hover:bg-teal-700 rounded-xl text-white" type="submit">Guardar cambios</button>
    </form>
</div>
{% endblock %}