{% extends 'core/base.html' %}

{% block title %}Bienvenid@{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <div class="flex justify-center mb-12">
            <div class="flex-grow text-center">
                <h2 class="text-2xl">Productos</h2>
            </div>
            <div>
                <form action="{% url 'product:search_page' %}" method="GET" class="flex items-center">
                    <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.5 15.5l5.5 5.5"/>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.5 17C6.186 17 3.5 14.314 3.5 11S6.186 5 9.5 5s6 2.686 6 6-2.686 6-6 6z"/>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
        
        <div class="grid grid-cols-3 gap-3">
            {% for artwork in artworks %}
            <div>
                <a href="{% url 'product:detail' artwork.id %}">
                    <div class="h-64 w-full">
                        <img src="{{ artwork.image.url }}" class="h-full w-full object-contain rounded-t-xl">
                    </div>
        
                    <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="text-2xl">{{ artwork.name }}</h2>
                        
                        {% if artwork.quantity == 0 %}
                            <p style="color: red; font-weight: bold;">AGOTADO</p>
                        {% endif %}
                        
                        <p class="text-gray-500">Precio: {{ artwork.price }} €</p>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>

    </div>

{% endblock %}