{% block content %}

{% if request.user.is_authenticated %}
    <div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl"> 
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <p class="text-xl text-gray-800">¿Estás seguro de que quieres cerrar sesión?</p>
                <button class="py-3 px-6 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Cerrar sesión</button>
            </div>
        </form>
    </div>
{% else %}
    <div class="text-center my-8">
        <p class="text-xl text-gray-800">
            No has iniciado sesión, ¿quieres <a href="/login/" class="text-teal-500">iniciar sesión</a>?
        </p>
    </div>
{% endif %}

{% endblock %}