{% extends 'core/base.html' %}

{% block title %}Términos de uso{% endblock %}

{% block content %}
        <p>
            Bienvenido/a a <a href="http://127.0.0.1:8000">ArtUS</a>. Estos Términos de Uso son un acuerdo legal entre tú y nosotros, y rigen tu uso de nuestra aplicación web y todos sus servicios y funcionalidades relacionadas. 
            Al acceder y utilizar nuestra aplicación, aceptas cumplir y estar sujeto/a a estos Términos de Uso. Si no estás de acuerdo con alguno de estos términos, por favor, no utilices nuestra aplicación.
            <br><br>
            Uso de la Aplicación 
            <br>
            1.1. Debes ser mayor de edad y tener capacidad legal para utilizar nuestra aplicación. Si eres menor de edad, debes obtener el permiso de tus padres o tutores legales para usarla. <br>
            1.2. Aceptas utilizar nuestra aplicación únicamente con fines legales y de acuerdo con estos Términos de Uso. <br>
            1.3. No debes utilizar nuestra aplicación de manera que interfiera con su funcionamiento, ni realizar acciones que puedan dañar, deshabilitar o sobrecargar nuestra infraestructura técnica. <br>
            1.4. El acceso a ciertas áreas o características de nuestra aplicación puede requerir la creación de una cuenta. Aceptas proporcionar información precisa y actualizada al registrarte y mantener la confidencialidad de tus credenciales de inicio de sesión.
            <br><br>
            Propiedad Intelectual 
            <br>
            2.1. Todos los derechos de propiedad intelectual relacionados con nuestra aplicación y su contenido (textos, gráficos, logotipos, imágenes, etc.) son de nuestra propiedad o de nuestros licenciantes. <br>
            2.2. No se te otorga ningún derecho o licencia para utilizar nuestra propiedad intelectual, excepto en la medida en que sea necesario para el uso de la aplicación de acuerdo con estos Términos de Uso.
            <br><br>
            Privacidad y Protección de Datos 
            <br>
            3.1. Respetamos tu privacidad y protegemos tus datos personales. Nuestra Política de Privacidad describe cómo recopilamos, utilizamos y protegemos tus datos en relación con nuestra aplicación. <br>
            3.2. Al utilizar nuestra aplicación, aceptas que recopilemos, utilicemos y procesemos tus datos personales de acuerdo con nuestra Política de Privacidad.
            <br><br>
            Contenido del Usuario 
            <br>
            4.1. Puedes tener la opción de compartir o subir contenido a nuestra aplicación. Al hacerlo, garantizas que tienes los derechos necesarios sobre ese contenido y nos otorgas una licencia no exclusiva, transferible, sublicenciable y libre de regalías para utilizar, reproducir, modificar, adaptar, publicar y distribuir dicho contenido en relación con nuestra aplicación. <br>
            4.2. No debes compartir o subir contenido que sea ilegal, difamatorio, obsceno, ofensivo o que infrinja los derechos de propiedad intelectual de terceros.
            <br><br>
            Limitación de Responsabilidad 
            <br>
            5.1. Nuestra aplicación se proporciona "tal cual" y no ofrecemos garantías de ningún tipo, ya sea expresas o implícitas, incluyendo, pero no limitado a, garantías de comerciabilidad, idoneidad para un propósito particular y no infracción. <br>
            5.2. No seremos responsables de ningún daño directo, indirecto, incidental, especial o consecuente que surja del uso o la imposibilidad de uso de nuestra aplicación.
            <br><br>
            Modificaciones y Terminación 
            <br>
            6.1. Nos reservamos el derecho de modificar o terminar nuestra aplicación, así como de modificar estos Términos de Uso en cualquier momento. Te notificaremos cualquier cambio importante a través de la aplicación o por otros medios razonables. <br>
            6.2. Si no estás de acuerdo con los cambios realizados, puedes dejar de utilizar nuestra aplicación. Si continúas utilizando nuestra aplicación después de que los cambios entren en vigencia, se considerará que aceptas los nuevos términos.
        </p>

{% endblock %}